**• (20%) Write a regular expression that can matching all phone numbers listed below: (You 
can write a python program to check the matching results)
555.123.4565
+1-(800)-545-2468,
2-(800)-545-2468,
3-800-545-2468,
555-123-3456,
555 222 3342,
(234) 234 2442,
(243)-234-2342,
1234567890,
123.456.7890,
123.4567,
123-4567,
1234567900,
1234567890**

In [1]:
import re

In [20]:
match = '555.123.4565'
pattern = re.fullmatch('\d.+',match)
if pattern != None:
    print('match found')
else:
    print('match not found')

match found

In [28]:
match = '+1-(800)-545-2468'
pattern = re.fullmatch('\W\d.+',match)
if pattern != None:
    print('match found')
else:
    print('match not found')

match found

In [30]:
match = '(234) 234 2442'
pattern = re.findall('\W\d.+',match)
print(pattern)

['(234) 234 2442']

In [43]:
match = input('enter any number')
pattern = re.findall('\W?\d.+', match)
print(pattern)

enter any number (243)-234-2342

['(243)-234-2342']

In [58]:
file = open('mobile_numbers.txt')
for line in file:
    i =  re.findall('\W?\d.+', line)
    print(i)

['555.123.4565']
['+1-(800)-545-2468']
['2-(800)-545-2468']
['3-800-545-2468']
['555-123-3456']
['555 222 3342']
['(234) 234 2442']
['(243)-234-2342']
['1234567890']
['123.456.7890']
['123.4567']
['123-4567']
['1234567900']
['12345678900']

**(20%) Write a regular expression that can find all amounts of money in a text. Your expression 
should be able to deal with different formats and currencies, for example £50,000 and 
£117.3m as well as 30p, 500m euro, 338bn euros, $15bn and $92.88. Make sure that you can 
at least detect amounts in Pounds, Dollars and Euros**

In [112]:
cur = open('currencies.txt')
for line in cur:
    l = line.rstrip()
    if re.match('\D',l):
        print(l)

rajesh salary is 100,000$
my salary is Â£50,000             sandeep daily wages is 39p
              my bestie salry is 338bn euros
and also suresh salary is Â£117.3m

In [70]:
match = re.findall('\W?\d\w.+', line)
print(match)

['200USD']

In [74]:
match = '£50,000'
pattern = re.findall('\W?\d.+',match)
print(pattern)

['£50,000']

In [73]:
match = '100,000$'
pattern = re.findall('\W?\d.+',match)
print(pattern)

['100,000$']

In [88]:
match = '1,234.56Cr'
pattern = re.findall('\W?\d.+',match)
print(pattern)

['1,234.56Cr']

In [113]:
file = open('currencies.txt')
for line in file:
    print(line)

rajesh salary is 100,000$

my salary is Â£50,000             sandeep daily wages is 39p

              my bestie salry is 338bn euros

and also suresh salary is Â£117.3m

200USD

In [234]:
file = open('currencies.txt')
for line in file:
    l = line.rstrip()
    m = re.findall('.\d.+\w([^ ])+',l)
    print(m)

['$']
['p']
['s']
['m']
['D']

In [149]:
x = 'My salary is 50000$'
m = re.findall('\d', x)
print(m)

['5', '0', '0', '0', '0']

In [175]:
char = 'From yunfei.long@essex.ac.uk Sat Jan  5 09:14:16 2020'
y = re.findall('@([^ ]*)',char)
y1 = re.search('^From .*@([^ ]*)',char)
y2 = re.findall('^From .*@([^ ]*)',char)
print (y2)

['essex.ac.uk']

In [187]:
char = 'From yunfei.long@essex.ac.uk.pk Sat Jan  5 09:14:16 2020'
y = re.findall('\S+:\S*',char)
y1 = re.findall('^From.*@([^ ]*)', char)
print (y1)

['essex.ac.uk.pk']

In [219]:
x = 'My salary is 500'
m = re.findall('.\d.+', x)
print(m)

[' 500GBP']

In [240]:
s = 'My number is +91 7207509980'
m = re.findall('\W?\d.+', s)
print(m)

['+91 7207509980']

In [259]:
f1 = open('currencies.txt')
for line in f1:
    l = line.strip()
    m = re.findall('\W?\d\S+[\W]\w+',l)
    print(m)

[' 100,000']
['£50,000']
[' 338bn euros']
['£117.3m']
[]
['$92.88']

In [262]:
f1 = open('currencies.txt')
for line in f1:
    print(line)

rajesh salary is 100,000$

my salary is Â£50,000             sandeep daily wages is 39p

              my bestie salry is 338bn euros

and also suresh salary is Â£117.3m

200USD    and also $15bn

$92.88

In [414]:
f1 = open('currencies.txt')
for line in f1:
    m = re.findall('\S+\d+\S+', line)
    print(m)

['100,000$']
['Â£50,000', '39p']
['338bn']
['Â£117.3m']
['200USD', '$15bn']
['$92.88']

In [77]:
import re
s = 'My salary is 100,000$ euros per year, my previous salary £25,000 and highest salary is 1.2m pounds and 39p aer minute 200dollars'
m = re.findall('\S+\d\S+(?:\s)?(?:euros|pounds\dollars)?', s)
print(m)

['100,000$ euros', '£25,000 ', '1.2m ', '39p ', '200dollars']

In [78]:
#so with the one i gave you, the space is only included in the match if the word is also there

In [73]:
import re
s = 'My salary is 100,000$ euros per year, my previous salary £25,000 and highest salary is 1.2m pounds and 39p aer minute'
m = re.findall('\S+\d\S+\W+[euros|pounds]+', s)
print(m)

['100,000$ euros', '1.2m pounds']

In [82]:
import re
s = 'My salary is 100,000$ euros per year, my previous salary £25,000 and highest salary is 1.2m pounds and 39p aer minute'
m = re.findall('\S+\d\S+(?:\s)?(?:euros|pounds|dollars)?', s)
print(m)

['100,000$ euros', '£25,000 ', '1.2m pounds', '39p ']

In [87]:
import re
s = 'My sacary is 100,000$ euros per year, my previous salary £25,000 and highest salary is 1.2m pounds and 39p aer minute'
m = re.findall('\S*\d\S*(?:\s*(?:euro|pound)s?)?', s)
print(m)

[]

In [95]:
x = 'My salary is 10K per minth, so annual salry is 1.24 lakhs £24500 and after five years $100,000 pounds'
m = re.findall('\S+\d+\S+(?:\s(?:pound|lakh)s?)?', x)
print(m)

['10K', '1.24 lakhs', '£24500', '$100,000 pounds']